{
  "presets": [
    ["@babel/preset-env", {
      useBuiltIns: "usage", // or "entry"
      corejs: 3,
    }],
    ["@babel/preset-typescript", {
      useBuiltIns: "usage", // or "entry"
      corejs: 3,
    }],
  ],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [
          ".ttl"
        ]
      }
    ]
  ]
}
