.contentPaneLiteral {
  white-space: pre-wrap;
}

.dataContentPaneRowEven {
  background-color: #f0f0f0;
}

.dataContentPaneRowOdd {
  background-color: var(--color-background, white);
}

.dataContentPaneTopAlignedRow {
  vertical-align: top;
}

.dataContentPaneNestedLight {
  background-color: var(--color-background, white);
}

.dataContentPaneNestedDark {
  background-color: #eee;
}