.schedulePaneTable {
  border-collapse: collapse; 
  background-color: white; 
  min-width: 40em; 
  min-height: 13em;
}

.schedulePaneButton {
  background-color: #eef; 
  padding: var(--spacing-xs, 0.5em);  
  border: .5em solid white; 
  font-size: 100%
}

.schedulePaneButtonIcon {
  width: 1.8em; 
  height: 1.8em;
}
.schedulePaneNaviMenu {
  text-align: center; 
  vertical-align: middle; 
  padding-top: 4em;
}
.schedulePaneCell {
  padding: 0.3em; 
  text-align: center;
}