:host {
  .file-explorer-header-more-button {
    width: var(--solid-ui-clickable-area, 42px);
    height: var(--solid-ui-clickable-area, 42px);
    padding: 0;
  }

  .ellipsisIcon {
    width: 16px;
    height: 16px;
  }
}
