:host {
    .navbar {
        border: 1px solid var(--color-border,#444);
        border-radius: 5px;
        display: flex;
        background: var(--solid-ui-color-white, #fff);
        overflow: hidden;
    }

    button {
        padding: 10px 25px;
        border-bottom: 2px solid transparent;
        font-weight: 500;
        font-size: 90%;
    }

    button:active,
    button:hover,
    button:focus {
        border-bottom-color: var(--solid-ui-color-primary, #7C4DFF);
        border-radius: 0;
        color: var(--solid-ui-color-primary, #7C4DFF);
        text-transform: capitalize;
        background: color-mix(in srgb, currentColor 25%, transparent);
    }
}
