:host {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    flex-wrap: nowrap;
    width: 100%;
    text-align: right;
    padding: 15px;
  }
}
